.header{
    height: 30px;
    width: 98.2vw;
    background-color: cornflowerblue;
    padding: 15px 15px;
    /*position: fixed;*/
    z-index: 100;
    margin-bottom: 20px;
  }
  ul{
    display: flex;
    justify-content: left;
    align-items: center;
    
  }
  ul li{
    list-style-type: none;
    margin-right: 15px;
    margin-left: 0; 
    font-size: 18px;
    font-weight: 400;
    
  }
  ul li:last-child{
    margin-right: 0; 
  }
  
  ul li a{
    text-decoration: none;
    color: #ffffff;
    transition: opacity .25s;
  }
  ul li a:hover{
    opacity: .75;
  }