.sidebar{
    position: absolute;
    top: 80px;
    left: 40px;
    width: 230px;
    background-color: cornflowerblue;
    padding: 15px 10px;
    border-radius: 5px;
  }
  .sidebar__inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sidebar__items{
    text-align: center;
  }
  .sidebar__item{
    margin-top: 10px;
  }
  .sidebar__item:first-child{
    margin-top: 0;
  }
  .sidebar__link{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    transition: opacity .25s;
  }
  .sidebar__link:hover{
    opacity: .75;
  }