@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body{
  font-family: 'PT Sans', sans-serif;
}
a:focus{
  outline:none;
}
.content{

}
.wrapper{
  max-width: 1000px;
  margin: 0 auto;
}